@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #FFFFFF;
    --text-color: #000;
    --text-button-color: #FFFFFF;
    --primary-color: #415F91;
    --primary-container-color: #D6E3FF;
    --primary-contrast-color: #B1CBFF;
    --secondary-color: #565F71;
    --secondary-container-color: #DAE2F9;
    --secondary-contrast-color: #C2CBE0;
    --tertiary-color: #705575;
    --tertiary-container-color: #FAD8FD;
    --tertiary-contrast-color: #E1C0E5;
    --error-color: #BA1A1A;
    --error-container-color: #FFDAD6;
    --error-contrast-color: #FFBAB1;
}

.night {
    --background-color: #000;
    --text-color: #FFFFFF;
    --text-button-color: #000;
    --primary-color: #AAC7FF;
    --primary-container-color: #284777;
    --primary-contrast-color: #234373;
    --secondary-color: #BEC6DC;
    --secondary-container-color: #3E4759;
    --secondary-contrast-color: #3A4354;
    --tertiary-color: #DDBCE0;
    --tertiary-container-color: #573E5C;
    --tertiary-contrast-color: #523A58;
    --error-color: #FFB4AB;
    --error-container-color: #93000A;
    --error-contrast-color: #8C0009;
}